SSO_BACKEND_BASE_URL=http://localhost:5002
NEXT_PUBLIC_SSO_LOGIN_PATH=http://localhost:5002/sso/login
NEXT_PUBLIC_SSO_LOGOUT_PATH=http://localhost:5002/sso/logout
DEMO_UI_CONFIG_PATH=./config/local.config.json
