SSO_START_URL=https://d-XXXXX.awsapps.com/start
FLASK_SECRET_KEY=replace-with-random-secret
AWS_REGION=us-east-1
SSO_LOGIN_REDIRECT=http://localhost:3000
SSO_LOGOUT_REDIRECT=http://localhost:3000
PORT=5002
